body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

/** Header **/
.navbar-light {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #eee;
          box-shadow: 1px 1px 5px #eee;
}

.navbar-brand img {
  padding-bottom: 1rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  /** Media **/
}

.main-nav a {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  padding: 0 1rem;
}

.main-nav a.active, .main-nav a:hover {
  color: #e35a09;
}

@media (max-width: 1024px) {
  .main-nav a {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .main-nav .dropdown-toggle a {
    right: 0;
  }
}

.main-nav .dropdown-menu ul, .main-nav li {
  list-style-type: none;
}

.main-nav .play-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 2rem;
  margin-right: 9rem;
}

@media (max-width: 1024px) {
  .main-nav .play-store {
    margin-right: 14rem;
  }
}

.main-nav .play-store img {
  margin-left: 0.8rem;
}

@media (max-width: 991.98px) {
  .main-nav {
    padding-top: 1.5rem;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

@media (max-width: 768px) {
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0.6rem 0.5rem;
    padding-bottom: 1rem;
  }
  .main-nav a {
    padding: 10px;
    text-decoration: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .main-nav a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .main-nav > * {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.5rem 0;
  }
}

.dropdown-menu li {
  padding-bottom: 1rem;
}

.dropdown-menu a {
  font-size: 12px;
  font-weight: bold;
  color: #222;
}

.dropdown-menu a.active {
  color: #222;
}

.dropdown-menu a:hover {
  color: #e35a09;
}

@media (max-width: 600px) {
  .dropdown-menu a .dropdown-menu {
    border: 0;
    margin-top: 0rem;
    position: relative;
    top: unset;
    left: unset;
    margin-left: 1rem;
    background: transparent;
  }
  .dropdown-menu a .dropdown-menu li {
    padding-bottom: 0;
  }
  .dropdown-menu a .dropdown-menu li a {
    padding-bottom: 1rem;
  }
  .dropdown-menu a .dropdown-item:active .main-nav {
    background: #e35a09;
  }
}

/* Section */
section {
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  /* mobile */
}

@media (max-width: 767.98px) {
  section {
    overflow-y: auto;
  }
}

/*** Hero Banner ***/
.hero-banner {
  background-color: #d8e0ea;
  padding-top: 10%;
  padding-bottom: 5%;
  /*--animation---*/
  /** Media **/
}

.hero-banner .zoom {
  -webkit-animation: scale 10s linear infinite;
          animation: scale 10s linear infinite;
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media (max-width: 780px) {
  .hero-banner {
    display: none;
  }
}

.hero-banner .bud-ebike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 2rem 4rem;
  /* mobile */
}

@media (max-width: 780px) {
  .hero-banner .bud-ebike {
    display: none;
  }
}

.hero-banner .bud-ebike img {
  width: 100%;
  height: auto;
}

@media (max-width: 780px) {
  .hero-banner .bud-ebike img {
    display: none;
  }
}

.hero-banner .bud-ebike .download-app {
  position: absolute;
  left: 4.5rem;
  /** Media **/
}

.hero-banner .bud-ebike .download-app .down-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-banner .bud-ebike .download-app .down-app .app-1 {
  border-right: 1px solid #000;
  padding-right: 10px;
  width: 35px;
}

.hero-banner .bud-ebike .download-app .down-app h6 {
  font-size: 1.2rem;
  color: #e35a09;
  font-weight: bold;
}

.hero-banner .bud-ebike .download-app h5 {
  font-weight: 900;
  font-size: 2.1rem;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .hero-banner .bud-ebike .download-app h5 {
    font-size: 1.8rem;
  }
}

.hero-banner .bud-ebike .download-app p {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: -10px;
  letter-spacing: 1.4px;
}

@media (max-width: 1024px) {
  .hero-banner .bud-ebike .download-app p {
    font-size: 1rem;
  }
}

.hero-banner .bud-ebike .download-app img {
  width: 25px;
}

@media (max-width: 780px) {
  .hero-banner .bud-ebike .download-app {
    bottom: -6rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: none;
  }
  .hero-banner .bud-ebike .download-app p {
    display: none;
  }
}

.another {
  background-color: #d8e0ea;
  padding-top: 10%;
  padding-bottom: 13%;
  height: auto;
}

@media (min-width: 800px) {
  .another {
    display: none;
  }
}

@media (max-width: 765px) {
  .another {
    padding-top: 30%;
  }
}

.another h1 {
  color: #e35a09;
  font-size: 6rem;
  font-weight: 800;
}

@media (max-width: 765px) {
  .another h1 {
    font-size: 3.5rem;
  }
}

.another img {
  width: 100%;
  max-width: 300;
}

.another .download h5 {
  font-size: 2.6rem;
  font-weight: 900;
}

.another .download img {
  width: 30px;
}

.another .download .down-ap {
  text-align: center;
}

.another .download h6 {
  font-size: 1.7rem;
  color: #e35a09;
  font-weight: 700;
}

.another .download .app-1 {
  padding-right: 10px;
  border-right: 1px solid #000;
  width: 40px;
}

.another .download p {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 765px) {
  .another .download p {
    font-size: 1rem;
  }
}

/*----how-to-get----*/
.how-to-get {
  /*.em:hover{
  transform: rotateY(180deg);
}*/
}

.how-to-get h2 {
  font-weight: 800;
}

@media (max-width: 1024px) {
  .how-to-get .capture {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .how-to-get .capture {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 500px) {
  .how-to-get .capture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .how-to-get .works {
    text-align: center;
  }
}

.how-to-get .works h6 {
  font-weight: 900;
  font-size: 1rem;
}

.how-to-get p {
  color: #7B8086;
  font-size: 15px;
  line-height: 21px;
}

/** Pick Bud-e **/
.pick-bud-e {
  padding-top: 5rem;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pick-bud-e .pick-bud-e-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991.98px) {
  .pick-bud-e .pick-bud-e-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info {
  background: #fff;
  -webkit-box-shadow: 0 15px 15px 2px rgba(213, 213, 213, 0.5);
          box-shadow: 0 15px 15px 2px rgba(213, 213, 213, 0.5);
  padding: 2rem;
  height: 492px;
  width: 349px;
  border-radius: 14px;
  margin-right: 15rem;
}

@media (max-width: 768px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-info {
    margin: auto;
    width: 100%;
  }
}

.pick-bud-e .pick-bud-e-wrapper .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pick-bud-e .pick-bud-e-wrapper .heading h2 {
  font-weight: 200;
  width: 100%;
  border-bottom: 1px solid #03050a;
  color: #03050a;
  padding-bottom: 0.5rem;
}

.pick-bud-e .pick-bud-e-wrapper .heading button {
  background-color: transparent;
  border: 0;
  border-right: 1px solid #000;
  padding: 0.25rem 1rem;
  outline: 0;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.25rem;
}

.pick-bud-e .pick-bud-e-wrapper .heading button:last-child {
  border-right: 0;
}

.pick-bud-e .pick-bud-e-wrapper .heading button.active {
  color: #e35a09;
}

.pick-bud-e .pick-bud-e-wrapper .tab-content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.pick-bud-e .pick-bud-e-wrapper .tab-content h2 {
  font-weight: 800;
  color: #252122;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media (max-width: 767.98px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-bottom: -1rem;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  /*-----hotspot code------*/
}

@media (max-width: 768px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-photo {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 767.98px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo img {
  width: 100%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .hotspot {
  width: 13px;
  height: 13px;
  background-color: #e35a09;
  border-radius: 50%;
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0 0 0 0 rgba(245, 57, 10, 0.65);
          box-shadow: 0 0 0 0 rgba(245, 57, 10, 0.65);
  border-radius: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .hotspot:hover {
  -webkit-animation: wave 1s infinite cubic-bezier(0, 0, 0, 0);
  animation: wave 1s infinite cubic-bezier(0, 0, 0, 0);
  color: #000;
}

@-webkit-keyframes wave {
  to {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
}

@keyframes wave {
  to {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .hotspot::before {
  content: attr(text);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  display: none;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .hotspot::after {
  display: none;
  font-size: 0.75rem;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .hotspot:hover::before,
.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .hotspot:hover::after {
  display: block;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .one {
  left: 51%;
  bottom: 25%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .one::before {
  position: absolute;
  content: "";
  width: 170px;
  height: 30px;
  border-left: 1px solid #333;
  top: -25px;
  left: 6px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .one::after {
  position: absolute;
  content: "Telescopic and hydraulic spring-loaded suspension";
  top: -34px;
  left: 190px;
  width: 150px;
  font-weight: 300;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .two {
  left: 54%;
  bottom: 38%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .two::before {
  position: absolute;
  content: "";
  width: 170px;
  height: 40px;
  border-left: 1px solid #333;
  top: -50px;
  left: 6px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .two::after {
  position: absolute;
  content: "Telescopic and hydraulic spring-loaded suspension";
  top: -60px;
  left: 185px;
  width: 150px;
  font-weight: 300;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .three {
  bottom: 53%;
  left: 44%;
  left: 42%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .three::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 180px;
  border-right: 1px solid #333;
  top: -180px;
  left: -1px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .three::after {
  position: absolute;
  content: " Telescopic and hydraulic spring-loaded suspension";
  top: -200px;
  left: -146px;
  width: 150px;
  font-weight: 300;
  background: #222222dd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-photo .three::after {
    width: 80px;
    left: -80px;
  }
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .four {
  bottom: 60%;
  left: 42%;
  left: 40%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .four::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 200px;
  border-right: 1px solid #333;
  top: -200px;
  left: 1px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .four::after {
  position: absolute;
  content: "Aero-dynamic frontal Batman themed view";
  top: -220px;
  left: -145px;
  width: 150px;
  font-weight: 300;
  background: #222222dd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-photo .four::after {
    width: 80px;
    left: -80px;
  }
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .five {
  bottom: 69%;
  left: 40%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .five::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 92px;
  border-right: 1px solid #333;
  top: -94px;
  left: -23px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .five::after {
  position: absolute;
  content: " A Smart dock-less/key-less electrical vehicle powered by state-of-the-art IoT technology";
  top: -100px;
  left: -170px;
  width: 150px;
  font-weight: 300;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .six {
  bottom: 85%;
  left: 62%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .six::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 110px;
  border-right: 1px solid #333;
  top: -107px;
  left: -23px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .six::after {
  position: absolute;
  content: " 'Find the Bike' feature with hazard lights and hooter blow";
  top: -139px;
  left: -165px;
  width: 143px;
  font-weight: 300;
  background: #222222dd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .seven {
  bottom: 65%;
  left: 62%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .seven::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 150px;
  border-left: 1px solid #333;
  top: -150px;
  left: 6px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .seven::after {
  position: absolute;
  content: "Telescopic and hydraulic spring-loaded suspension";
  top: -160px;
  left: 80px;
  width: 150px;
  font-weight: 300;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .eight {
  bottom: 99%;
  left: 52%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .eight::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 80px;
  border-right: 1px solid #333;
  top: -82px;
  left: -14px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .eight::after {
  position: absolute;
  content: "Protection for display panel with acrylic sheet";
  top: -112px;
  left: -160px;
  width: 150px;
  font-weight: 300;
  background: #222222dd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .nine {
  bottom: 64%;
  left: 75%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .nine::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 80px;
  border-left: 1px solid #333;
  top: -76px;
  left: 7px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .nine::after {
  position: absolute;
  content: "Ensured Safety with anti-theft alarm";
  top: -96px;
  left: 36px;
  width: 150px;
  font-weight: 300;
  background: #222222dd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .ten {
  bottom: 80%;
  left: 72%;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .ten::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 80px;
  border-left: 1px solid #333;
  top: -82px;
  left: 6px;
  border-top: 1px solid #333;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-photo .ten::after {
  position: absolute;
  content: "Ergonomically designed seat for a solo rider";
  top: -105px;
  left: 36px;
  width: 150px;
  font-weight: 300;
  background: #222222dd;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info h3 {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 24px;
  color: #252122;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info .info-list p {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 0.75rem;
  color: #252122;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info .info-list p:last-child {
  border-bottom: 0;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info .info-list p img {
  padding-right: 1.25rem;
  width: 3rem;
}

.pick-bud-e .pick-bud-e-wrapper .bud-e-info ._right {
  margin-left: 1.25rem;
}

@media (max-width: 991.98px) {
  .pick-bud-e .pick-bud-e-wrapper .bud-e-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/*---for mobile----*/
.only-mobile {
  padding-top: 3rem;
}

@media (min-width: 990px) {
  .only-mobile {
    display: none;
  }
}

.only-mobile .bud img {
  width: 100%;
  max-width: 900px;
  margin-top: 1rem;
}

/*--news section--*/
.bud-e-news {
  background: url(../img/news-bg.png) no-repeat bottom center;
  background-size: cover;
}

.bud-e-news h2 {
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.bud-e-news ._article {
  background: #fff;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 100%;
}

.bud-e-news ._article a {
  text-decoration: none;
}

.bud-e-news ._article img {
  width: 100%;
  height: auto;
}

.bud-e-news ._article h5 {
  color: #000;
  font-weight: 600;
}

.bud-e-news ._article p {
  line-height: 20px;
  margin-top: 1rem;
  color: #333;
  font-weight: normal;
  font-size: 14px;
  padding: 0.5rem;
  padding-bottom: 0;
}

/** About **/
._about {
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

._about .all {
  background: #fff;
  -webkit-box-shadow: 0px 2px 1rem rgba(139, 139, 139, 0.493);
          box-shadow: 0px 2px 1rem rgba(139, 139, 139, 0.493);
  border-radius: 6px;
  margin: 1rem;
}

._about .all h2 {
  font-weight: 900;
  font-size: 40px;
}

._about ._about-info {
  position: absolute;
  right: 0;
  width: 28rem;
  padding: 3rem;
  background: #f2f2f2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

@media (max-width: 450px) {
  ._about ._about-info {
    width: 23rem;
  }
}

._about ._about-info .close-btn {
  position: absolute;
  display: inline-block;
  text-align: right;
  font-size: 2rem;
  color: #f55353;
  font-weight: 100;
  padding: 0.5rem;
  top: 0;
  right: 2rem;
  cursor: pointer;
}

._about ._about-info ._about-info-body h4 {
  font-size: 1.5rem;
  color: #e35a09;
}

._about ._about-info ._about-info-body p {
  font-size: 0.9rem;
  color: #000;
  font-weight: 200;
}

._about h2 {
  font-weight: 300;
}

._about .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  ._about .profile-info {
    padding: 0.75rem;
  }
}

._about .profile-info img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

._about .profile-info h4 {
  margin-top: 1rem;
  font-weight: 700;
  color: #e35a09;
}

@media (max-width: 767.98px) {
  ._about h2 {
    text-align: center;
  }
  ._about .profile-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
  }
  ._about .profile-info p {
    text-align: center;
  }
}

/*--availability---*/
.availability {
  background: #d8e0ea;
}

@media (max-width: 768px) {
  .availability .capture {
    text-align: center;
  }
  .availability .available {
    text-align: center;
  }
}

.availability h2 {
  font-weight: 800;
  font-size: 36px;
}

.availability p {
  font-size: 1rem;
}

.availability .form-control {
  border-radius: 6px;
}

.availability h6 {
  color: #222222;
  padding: 1.6rem;
}

.availability .btn {
  background: #e35a09;
  padding: 0.3rem 2rem;
  border-radius: 6px;
  color: #fff;
}

.availability .all img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/** Footer **/
footer {
  background: #0d2c4a;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  text-decoration: none;
}

footer .play-store-apps .google-play {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer .foot {
    margin-bottom: 1rem;
  }
  footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
}

footer img {
  width: 170px;
  margin-top: -1.6rem;
}

footer h4 {
  font-size: 1rem;
  color: #f2f2f2;
  margin-bottom: 1rem;
  font-weight: 700;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer svg {
  color: #fff;
  margin-right: 0.5rem;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .links a {
  color: #fff;
  padding-bottom: 0.75rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-decoration: none;
}

footer .links a:hover {
  color: #e35a09;
}

footer address {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 2;
}

footer .copy-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-top: 5rem;
}

footer .copy-rights p {
  margin: 0;
  padding: 1rem;
  font-size: 0.75rem;
  border-top: 1px solid #f2f2f2;
}

/** Good words section **/
.good-words {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.good-words .mr-20 {
  margin-right: -10rem;
}

.good-words h1 {
  font-weight: 800;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  color: #10375C;
}

@media screen and (max-width: 600px) {
  .good-words h1 {
    margin-bottom: 5rem;
  }
}

.good-words .owl-carousel.owl-drag .owl-item {
  background: #10375c;
  background: #10375c;
  padding: 2rem;
  color: #fff;
  border: 3px solid #fff;
}

.good-words .owl-carousel.owl-drag .owl-item .item-mask {
  position: relative;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.good-words .owl-carousel.owl-drag .owl-item p {
  font-weight: 300;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  min-height: 16rem;
}

.good-words .owl-carousel.owl-drag .owl-item .card_user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.good-words .owl-carousel.owl-drag .owl-item .card_user-info img {
  width: 2.25rem;
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  margin-right: 1rem;
}

.good-words .owl-carousel.owl-drag .owl-item .card_user-info h5 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.good-words .owl-carousel.owl-drag .owl-item .card_user-info p {
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: unset;
}

.good-words .owl-theme .owl-dots .owl-dot {
  margin: 0;
  outline: none;
}

.good-words .owl-theme .owl-dots .owl-dot span {
  width: 3rem;
  height: 0.4rem;
  background: #dfdfdf;
  margin: 0;
  border-radius: 0;
  outline-style: 0;
}

.good-words .owl-theme .owl-dots .owl-dot.active span {
  background: #e35a09;
}

/*.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
.owl-theme .owl-nav {
  position: absolute;
  top: -45%;
  right: 20%;
  @media screen and (max-width: 600px) {
    top: -40%;
    right: 30%;
  }
}
/*.owl-carousel .prev-slide {
  background: url("../img/arrow-left.svg") no-repeat scroll 0 0;
  // background: red;
  // left: -33px;
  width: 70px;
  height: 32px;
  margin-left: -5rem;
  opacity: 0.5;
}
.owl-carousel .next-slide {
  background: url("../img/arrow-right.svg") no-repeat scroll -24px 0px;
  // right: -33px;
  width: 150px;
  height: 32px;
}*/
/*----about us page-----*/
.about-banner {
  background: url(../img/About-banner.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
}

@media (max-width: 768px) {
  .about-banner {
    height: 500px;
  }
}

.about-banner h2 {
  color: #e35a09;
  font-weight: 800;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .about-banner h2 {
    font-size: 2rem;
  }
}

@media (max-width: 765px) {
  .bud-urban h4 {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.bud-urban li {
  list-style-type: none;
  padding-bottom: 10px;
}

.bud-urban span {
  color: #fc7424;
  font-size: 2rem;
  font-weight: 900;
}

.bud-urban p {
  line-height: 30px;
}

.bud-urban h4 {
  font-weight: 700;
  font-size: 2rem;
}

.bud-urban .mob img {
  height: 500px;
}

@media (max-width: 768px) {
  .bud-urban .mob {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .bud-urban .mob {
    text-align: center;
  }
}

/*---vision and mission--*/
.vision {
  background: #D8E1EA;
}

@media (max-width: 768px) {
  .vision .vis {
    text-align: center;
  }
}

.vision h4 {
  color: #e35a09;
  font-weight: 800;
  font-size: 48px;
}

@media (max-width: 400px) {
  .vision h4 {
    font-size: 2.1rem;
  }
}

.vision p {
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .vision p {
    font-size: 14px;
  }
}

.vision .in {
  width: 350px;
  height: 252px;
  padding: 2rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0 15px 15px 2px rgba(213, 213, 213, 0.5);
          box-shadow: 0 15px 15px 2px rgba(213, 213, 213, 0.5);
  border-radius: 8px;
  margin-left: 4rem;
}

@media (max-width: 768px) {
  .vision .in {
    text-align: left;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .vision .in {
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
  }
}

.vision .in h5 {
  font-size: 28px;
  font-weight: 800;
}

.vision .in p {
  margin-left: 2rem;
  margin-top: -1rem;
}

.mission .in {
  width: 445px;
  height: 252px;
  margin-left: -2rem;
}

@media (max-width: 1024px) {
  .mission .in {
    margin-left: 2rem;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .mission .in {
    margin: auto;
  }
}

@media (max-width: 550px) {
  .mission .in {
    width: 300px;
  }
}

@media (max-width: 765px) {
  .about-banner {
    display: none;
  }
  .about-banner h2 {
    display: none;
  }
}

/*---for mobile----*/
@media (max-width: 768px) {
  .about-ban {
    background: url(../img/About-Bude.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .about-ban {
    display: none;
  }
}

.how-it-works-hero-section {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 0;
  margin-bottom: 100px;
  overflow: unset;
  padding-bottom: 2rem;
}

@media (max-width: 750px) {
  .how-it-works-hero-section {
    padding-top: 10rem;
  }
}

.how-it-works-hero-section .video-play {
  width: 220px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
}

@media screen and (max-width: 700px) {
  .how-it-works-hero-section .video-play {
    margin-left: auto;
    margin-right: auto;
  }
}

.how-it-works-hero-section .how-it-works_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .how-it-works-hero-section .how-it-works_content {
    margin-left: 4rem;
  }
}

.how-it-works-hero-section .how-it-works_content h4 {
  font-size: 2rem;
  font-weight: 900;
}

@media (max-width: 400px) {
  .how-it-works-hero-section .how-it-works_content h4 {
    font-size: 1.5rem;
  }
}

.how-it-works-hero-section .how-it-works_content p {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.how-it-works-hero-section .how-it-works_content img {
  -webkit-animation: ani 2s;
          animation: ani 2s;
  position: relative;
}

@-webkit-keyframes ani {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}

@keyframes ani {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}

._heading {
  color: #e35a09;
}

.maprouter {
  width: 100% !important;
}

._map {
  padding: 0;
  margin-top: 5rem;
  overflow: hidden;
}

.contact-section h4 {
  color: #e35a09;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.contact-section h5 {
  font-weight: bold;
}

.contact-section a {
  color: #7b8086;
  text-decoration: none;
}

.contact-section svg {
  color: #000;
  margin-right: 5px;
}

.contact-section p {
  color: #7b8086;
  font-weight: 300;
  padding-bottom: 1rem;
}

.contact-section label {
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-section .btn-orange {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #e35a09;
  font-weight: 300;
  border: 0;
}

/** Profile Info Modal **/
@media (min-width: 576px) {
  .profile-info .modal-dialog {
    margin-left: auto;
    margin-right: 1.75rem;
  }
}

.profile-info .right {
  right: 0;
}

.profile-info .modal-content {
  background-color: #f2f2f2;
  padding: 1rem 2rem;
}

.profile-info .modal-header {
  border-bottom: 0;
}

.profile-info .modal-header h5 {
  color: #e35a09;
  font-size: 130%;
}

.profile-info .modal-body {
  padding-top: 0.5rem;
}

.profile-info .modal-body p {
  font-weight: 300;
  font-size: 0.8rem;
}

/*---news letter vijay section-----*/
.news-sec {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5913C), color-stop(50%, #F5913C), color-stop(50%, white));
  background-image: linear-gradient(to bottom, #F5913C, #F5913C 50%, white 50%);
  padding-top: 10rem;
}

.news-sec .news-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .news-sec .news-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-sec .news-section .news-msg {
  background: #F7FAFC;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 5rem 3rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .news-sec .news-section .news-msg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.news-sec .news-section .news-msg h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.news-sec .news-section .news-msg h5 {
  font-size: 1.4rem;
  font-weight: bold;
}

.news-sec .news-section .news-banner {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.news-sec .news-section .news-banner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.sign-up {
  background: #D8E1EA;
}

.sign-up .sign-in {
  background: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid #e35a09;
}

.sign-up .sign-in h4 {
  font-weight: 800;
}

.sign-up .sign-in .form-control {
  width: 178%;
  border: 1px solid #000;
  height: auto;
}

.sign-up .sign-in .btn {
  background: #e35a09;
  padding: 0.4rem 2rem;
  border-radius: 6px;
  color: #fff;
}

/* Main Nav For Mobile */
@media (max-width: 768px) {
  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 4.9rem;
    right: 0;
    height: 100vh;
    -webkit-box-shadow: -384px 0px 0px #0000006b;
            box-shadow: -384px 0px 0px #0000006b;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50vw;
  }
  .main-nav a {
    padding-bottom: 2rem;
    padding-left: 1rem;
    text-decoration: none;
  }
  .main-nav .play-store * {
    height: 2.25rem;
    margin-left: 1rem;
  }
}

@media (max-width: 600px) {
  .main-nav {
    width: 80vw;
    -webkit-box-shadow: -100px 0px 0px #0000006b;
            box-shadow: -100px 0px 0px #0000006b;
  }
  .main-nav a {
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-decoration: none;
  }
}

/*--terms---*/
.terms {
  padding-top: 10%;
  padding-bottom: 20%;
}

.terms h2 {
  color: #e35a09;
  font-size: 3rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .terms h2 {
    font-size: 2rem;
    padding-top: 18%;
  }
}

/*---blog-page----*/
.news-blogs {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5913C), color-stop(50%, #F5913C), color-stop(50%, white));
  background-image: linear-gradient(to bottom, #F5913C, #F5913C 50%, white 50%);
  padding-top: 8rem;
  height: auto;
}

.news-blogs .news-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .news-blogs .news-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-blogs .news-msge {
  background: #F7FAFC;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 3rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.news-blogs .news-msge .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

@media (max-width: 700px) {
  .news-blogs .news-msge {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.news-blogs .news-msge h6 {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.news-blogs .news-msge p {
  color: #7b8086;
  font-size: 14px;
  text-decoration: none;
}

.news-blogs .news-msge .news-banner {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.news-blogs .news-msge .news-banner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .inner-blog {
    padding-top: 4rem;
    text-decoration: none;
  }
}

.inner-blog .card a {
  text-decoration: none;
}

.inner-blog .card h6 {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.inner-blog .card p {
  font-size: 12px;
  font-weight: 600;
  color: #7b8086;
}
/*# sourceMappingURL=main.css.map */